# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# nest migration
config/.env.prod
config/openapi.yaml
build/
tmp/
temp/
coverage/
*.sqlite
nest_migration_reference/*.sqlite
nest_migration_reference/build/
nest_migration_reference/coverage/
nest_migration_reference/config/.env.prod
nest_migration_reference/config/openapi.yaml
openworld-api.code-workspace
